{% extends 'pages/base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'g2g/FAQ.css' %}">

<div class="header-container">
    <header>
        <div class="d-flex justify-content-center logo-icon">
            <img src="{% static 'images/questionmark.png' %}" style="height:70px">
        </div>
        <div class="d-flex justify-content-center">
            <h3>Frequently Asked Questions</h3>
        </div>
    </header>
</div>

<body>
    <div class="container">
        Hello World, FAQ
    </div>
</body>
{% endblock content %}