{% extends 'pages/base.html' %}

{% load static %}

{% block title %}

<link rel="stylesheet" href="{% static 'g2g/FAQ.css' %}">

<div class="header-container">
    <header>
        <div class="d-flex justify-content-center logo-icon">
            <img src="{% static 'images/questionmark.png' %}" style="height:70px">
        </div>
        <div class="d-flex justify-content-center">
            <h3>Frequently Asked Questions</h3>
        </div>
    </header>
</div>
{% endblock title %}


{% block content %}

<div class="questions_container">
    <div class="container">
        <h3 class="question">
            What type of boxes do you offer? How much are they?
        </h3>
        <div class="answer">
            Produce boxes and snack boxes are the base packages - these are just $10 each. Add-ons (typically more
            specialized foods like cheese or granola) are offered each week at varying costs.
            <br>
            Additionally, at the beginning of each season, we offer discounted half- and whole-semester boxes as a
            more subscription-based model -- saving you money and time by avoiding the hassle of remembering to order
            each week.
        </div>
        <h3 class="question">
            Where / when is pickup for my box?
        </h3>
        <div class="answer">
            Our pick-up table is located at Mad Bowl, between Rugby Road and Madison Avenue - look for our farm stand
            and Greens to Grounds signs! Our pickup is from 12:00pm to 3pm on Fridays. You get to pick the items you
            ordered, just like at the farmer's market!
            <br>
            The rain location for pick-up is HackCville (#9 Elliewood Avenue on the Corner).
        </div>
        <h3 class="question">
            I've worked with CSAs before, is this a similar model to the ones I've seen?
        </h3>
        <div class="answer">
            Greens to Grounds is not your typical CSA, as it works to accommodate the college lifestyle of many of our
            members (and staff!). Currently, our model involves buying items in bulk from organizations such as Local
            Food Hub, which consolidates products from local farms in the area. We also source some of our food from
            gardens run by UVa students, such as Morven Kitchen Garden, the UVa Community Garden and Hereford
            residential garden. We encourage all who are interested in growing their own food to look into these
            amazing spaces of community gardening. By bringing students together to purchase one collective box, we are
            able to offer a larger variety of local goods at a discounted rate. How do you like them apples?
        </div>
        <h3 class="question">
            I live in first year dorms. Is this for me?
        </h3>
        <div class="answer">
            Absolutely! Our snack box is perfect for anyone who doesn’t want to pick up a pan - all items are ready to
            eat. And in our produce box, most of our food can be eaten raw, and most dorms have cooking utensils and a
            kitchen available for communal use. We are also working hard to include dorm-friendly recipes on our blog,
            including ideas that use microwaves and limited kitchen wares. If you're having trouble figuring out how
            to use your box, please drop us a line!
        </div>
        <h3 class="question">
            I can't afford this every week, but I still want fresh, local food. What can I do?
        </h3>
        <div class="answer">
            We understand that food can be expensive, and our boxes can sometimes feed more than one person - so tell
            your friends about Greens to Grounds! Sharing a box with a friend or a roommate can slash costs while
            providing the fresh foods you crave. Better yet, make larger meals with your box that can be eaten over
            multiple days, or shared with the rest of your house/apartment!
        </div>
        <h3 class="question">
            I don't have the time or energy to cook. Do you offer anything I would like?
        </h3>
        <div class="answer">
            Of course! Most of our produce can be eaten raw, and we have specific offerings that allow you to just grab
            a snack and go! Check out our snack box - with apples, granola, nuts, and other ready-to-go snacks, no pots
            and pans are required!
        </div>
    </div>
</div>
{% endblock content %}