{% extends 'pages/base.html' %}

{% load static %}

{% block title %}

<link rel="stylesheet" href="{% static 'g2g/supplier.css' %}">

<div class="header-container">
    <div style="position: relative; top: -58px;">
        <img src="{% static 'images/supplier_banner.png' %}" style="height:350px">
    </div>
</div>
{% endblock title %}

{% block content %}

<div class="container">
    <h6>
        Greens to Grounds sources local products from a variety of farms, gardens and value-added producers from in and
        around
        the Charlottesville/Albemarle County foodshed. This includes products which we source directly from farms,
        bakeries,
        cheese-makers, and community gardens, and produce conglomerated from multiple farms by the Local Food Hub. Here
        are
        some
        of our favorite producers we’ve been proud to work with over the past few years:
    </h6>
</div>

<div class="supplier_row">
    <div class="floated_img">
        <img src="{% static 'images/local_food_hub.png' %}">
        <a href="#Local Food Hub">
            <div class="image-text">Local Food Hub</div>
        </a>

    </div>
    <div class="floated_img">
        <img src="{% static 'images/shady_lane.png' %}">
        <a href="#Shady Lane Family Farm">
            <div class="image-text">Shady Lane Family Farm</div>
        </a>
    </div>
    <div class="floated_img">
        <img src="{% static 'images/caramont_farm.png' %}">
        <a href="#Caromont Farm">
            <div class="image-text">Caromont Farm</div>
        </a>
    </div>
    <div class="floated_img">
        <img src="{% static 'images/marie_bette_cafe.png' %}">
        <a href="#MarieBette Cafe & Bakery">
            <div class="image-text">MarieBette Cafe & Bakery</div>
        </a>
    </div>
    <div class="floated_img">
        <img src="{% static 'images/carpe_donut.png' %}">
        <a href="#Carpe Donut">
            <div class="image-text">Carpe Donut</div>
        </a>
    </div>
    <div class="floated_img">
        <img src="{% static 'images/woodsons_mill.jpg' %}">
        <a href="#Woodson's Mill">
            <div class="image-text">Woodson's Mill</div>
        </a>
    </div>


    <body>
        <div class="container">
            {% for supplier in supplier_list %}
            <div class="supplier" id="{{supplier.name}}">
                <h4>{{ supplier.name }}</h4>
                <p>{{ supplier.address }}</p>
                <p>{{ supplier.producers }}</p>
                <p>{{ supplier.founded }}</p>
                <!-- {% if supplier.extra_details %}
                {% for title,detail in supplier.extra_details.items %}
                <p>{{ title }}: {{ detail }}</p>
                {% endfor %}
                {% endif %} -->
                <a target="_blank" href="https://{{ supplier.url }}">Learn More</a>
                <p><br>{{ supplier.details }}</p>
            </div>
            {% endfor %}
        </div>
    </body>

    {% endblock content %}