.header-container {
    height: 150px;
}

.logo-icon {
    margin: 0 auto;
    padding-top: 2vh;
}

.press-container {
    width: 100%;
    background-color: #b1da60;
    display: flex;
    vertical-align: center;
}

.press-cards {
    margin: .5vw;
    padding-top: 2vh;
    height: 250px;
    min-width: 40px;
    width: 30%;
    display: inline-block;
    text-align: center;
}

span img {
    width: 95%;
}

span a {
    color: black;
    font-weight: bold;
}