{% extends 'pages/base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'g2g/home.css' %}">

<div class="home_background_img">
    <div class="container g2g_logo">
        <img src="{% static 'images/g2glogo.png' %}" style="height:50vh">
    </div>
</div>

<div class="container">
    <div class="mission">
        <h2>Our Mission</h2>
        <p>We are a non-profit, student-run CSA (community supported agriculture) model bringing fresh, local produce
            and specialty
            items to the UVA community. We strive to foster a more sustainable relationship between UVA and
            Charlottesville food
            producers. We seek to provide students, faculty, and staff with access to fresh, seasonal, and local food on
            a weekly
            basis, while providing local farmers and artisans with dedicated support from the University community. Join
            us in
            eating well, supporting Central Virginia farmers, and celebrating local food.</p>
    </div>
</div>

<div class="box_and_order">
    <div class="whats_in_the_box">
        <h2>What's in the the boxes</h2>
        <div>
            <h5>March</h5>
            <p>Apples, Spinach, Herbs</p>
        </div>
    </div>
    <div class="order_now">
        <h2>Ready to get started?</h2>
        <p>Choose between pre-built snack boxes and produce boxes, delivered weekly.<br> Starting at only $10!</p>
    </div>
</div>

{% endblock content %}