body {
    background-color: #fafafa;
  }

.header-container {
    /* background-color: #b1da60; */
    text-align: center;
    padding-top: 58px;
    height: 200px;

    font-size: 50px;

}

.logo-icon {
    margin: 0 auto;
    padding-top: 2vh;
}

.questions-container {
    padding-bottom: 100vh;
}




.ques-contain:hover + .ans-contain {
    display: block;
    width: 90%;
    margin: 0 auto;
}


.ans-contain {
    display: none;
}
      
.ques {
    width: 90%;
    margin: 0 auto;

    background-color: #fafafa;
    border-style: solid none none none;
    border-width: 2px;
    border-color: black;

    font-size: 28px;
    font-weight: 500;

    padding-top: 2vh;
    padding-left: 3vh;
    padding-bottom: 2vh;

    color: #2ca532;
}

.ques:hover {
    background-color: #ededed;
    border-style: solid none none none;

}

.ans {
    background-color: #ededed;
    /* border-style: none none solid none; */
    border-width: 2px;
    border-color: black;

    font-size: 18px;

    padding-top: 2vh;
    padding-left: 3vh;
    padding-bottom: 5vh;

    color: #6e6e6e;
}


